Repository prgrms-be-devcourse/NBE4-5-3-Team06, pull requests merged in 2025-04, with the labels that each got.

#8 ✨feat: init data 환경설정
  backend/db.mv.db
  backend/db_dev.mv.db
  backend/db_dev.trace.db
  backend/src/main/kotlin/com/example/backend2/domain/user/entity/User.kt
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
Labels: 🔥 backend, ✨ feat

#7 feat(6): FE 엔드포인트 테스트를 위해 로컬 주소로 변경
  frontend/package-lock.json
  frontend/src/lib/api/auction.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/socket.ts
Labels: ✨ feat, 🌈 frontend

#14 feat(13): 로그인 메서드에 비밀번호 검증 로직 추가
  backend/src/main/kotlin/com/example/backend2/domain/user/service/UserService.kt
Labels: 🔥 backend, ✨ feat

#15 test: 도메인 테스트 코드 작성
  backend/build.gradle.kts
  backend/src/test/kotlin/com/example/backend2/Backend2ApplicationTests.kt
  backend/src/test/kotlin/com/example/backend2/domain/auction/entity/AuctionTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/auction/repository/AuctionRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/auction/service/AuctionServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/entity/BidTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/repository/BidRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/service/BidServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/product/dto/ProductResponseTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/product/entity/ProductTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/product/repository/ProductRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/dto/UserDtoTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/entity/UserTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/repository/UserRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/service/UserServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/entity/WinnerTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/repository/WinnerRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/service/WinnerServiceTest.kt
Labels: 🔥 backend, ✔️Test

#16 M00NPANG/test 10
  backend/src/test/kotlin/com/example/backend2/Backend2ApplicationTests.kt
  backend/src/test/kotlin/com/example/backend2/global/app/AuctionListenerEventTest.kt
  backend/src/test/kotlin/com/example/backend2/global/app/AuctionSchedulerEventTest.kt
Labels: 🔥 backend, ✔️Test

#17 [feat-9] 사용자 정보 조회, 사용자 정보 수정 테스트 코드 작성
  backend/db_dev.mv.db
  backend/db_dev.trace.db
  backend/src/test/kotlin/com/example/backend2/domain/user/service/UserServiceTest.kt
Labels: 🔥 backend

#22 test(18) : Unit 테스트 에러 부분 수정
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend2/domain/bid/controller/BidController.kt
  backend/src/main/kotlin/com/example/backend2/global/app/AuctionSchedulerEvent.kt
  backend/src/main/kotlin/com/example/backend2/global/websocket/WebSocketMessageBrokerConfig.kt
  backend/src/main/resources/application-test.yml
  backend/src/test/kotlin/com/example/backend2/domain/auction/entity/AuctionTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/auction/repository/AuctionRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/auction/service/AuctionServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/entity/BidTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/repository/BidRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/bid/service/BidServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/product/dto/ProductResponseTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/product/entity/ProductTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/dto/UserDtoTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/entity/UserTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/user/service/UserServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/entity/WinnerTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/repository/WinnerRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/domain/winner/service/WinnerServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/global/app/AuctionListenerEventTest.kt
  backend/src/test/kotlin/com/example/backend2/global/app/AuctionSchedulerEventTest.kt
Labels: 🔥 backend, ✨ feat, ♻️ refactor, ✔️Test

#28 feat(27): FE 엔드포인트 수정 및 UnitTest Error 수정
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/auction/repository/AuctionRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/bid/repository/BidRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/bid/service/BidServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/product/dto/ProductResponseTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/product/entity/ProductTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/user/dto/UserDtoTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/user/entity/UserTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/user/service/UserServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/winner/repository/WinnerRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/winner/service/WinnerServiceTest.kt
  frontend/next.config.ts
  frontend/src/app/admin/auctions/list/page.tsx
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/app/mypage/edit/page.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auction/AuctionCloseButton.tsx
  frontend/src/components/auth/LogoutButton.tsx
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/lib/socket.ts
Labels: 🔥 backend, ✨ feat, 🌈 frontend, ✔️Test

#32 feat-29: 동시성 비즈니스 로직 구현
  backend/build.gradle.kts
  backend/db_dev.mv.db
  backend/db_dev.trace.db
  backend/src/main/kotlin/com/example/backend2/domain/bid/controller/BidController.kt
  backend/src/main/kotlin/com/example/backend2/domain/bid/service/BidLockService.kt
  backend/src/main/kotlin/com/example/backend2/global/redis/config/RedisConfig.kt
  backend/src/main/kotlin/com/example/backend2/global/redis/config/RedissonConfig.kt
  backend/src/main/kotlin/com/example/backend2/global/redis/lock/DistributedLockService.kt
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/test/kotlin/com/example/backend2/integrationTest/domain/auction/AuctionIntegrationTest.kt
  backend/src/test/resources/application-test.yml
  docker-compose.yml
Labels: 🔥 backend, ✨ feat, ✔️Test

#37 feat: 부하 테스트 작성
  backend/db_dev.mv.db
  backend/db_dev.trace.db
  backend/src/main/kotlin/com/example/backend2/domain/auction/controller/AuctionController.kt
  backend/src/main/kotlin/com/example/backend2/global/redis/config/RedisConfig.kt
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/k6/README.md
  backend/src/test/k6/auction_close_test.js
  backend/src/test/k6/auction_list_test.js
  backend/src/test/k6/bid_websocket_test.js
  backend/src/test/k6/run_all_tests.bat
  backend/src/test/k6/run_all_tests.sh
  backend/src/test/resources/application-test.yml
Labels: 🔥 backend, ✔️Test

#35 M00 npang/feat 23
  backend/src/main/kotlin/com/example/backend2/domain/user/dto/UserSignInResponse.kt
  backend/src/main/kotlin/com/example/backend2/domain/user/service/EmailService.kt
  backend/src/main/resources/data.sql
  frontend/.gitignore
  frontend/playwright.config.ts
  frontend/tests/adminTest.spec.ts
  frontend/tests/test1.spec.ts
Labels: 🔥 backend, ⚙️chore, 🌈 frontend, ✔️Test

#34 feat-25 : 구글 소셜 로그인
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend2/domain/user/service/CustomOAuth2User.kt
  backend/src/main/kotlin/com/example/backend2/domain/user/service/CustomOAuth2UserService.kt
  backend/src/main/kotlin/com/example/backend2/domain/user/service/JwtBlacklistService.kt
  backend/src/main/kotlin/com/example/backend2/global/app/CustomAuthenticationSuccessHandler.kt
  backend/src/main/kotlin/com/example/backend2/global/app/SecurityConfig.kt
  backend/src/main/kotlin/com/example/backend2/global/filter/CorsConfig.kt
  backend/src/main/kotlin/com/example/backend2/global/redis/config/RedissonConfig.kt
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/kotlin/com/example/backend2/Backend2ApplicationTests.kt
  backend/src/test/kotlin/com/example/backend2/global/config/IntegrationTestConfig.kt
  backend/src/test/kotlin/com/example/backend2/global/utils/JwtProviderTest.kt
  backend/src/test/kotlin/com/example/backend2/integrationTest/config/IntegrationTestConfig.kt
  backend/src/test/kotlin/com/example/backend2/integrationTest/domain/auction/AuctionIntegrationTest.kt
  backend/src/test/kotlin/com/example/backend2/integrationTest/domain/bid/BidIntegrationTest.kt
  backend/src/test/kotlin/com/example/backend2/integrationTest/domain/user/UserIntegrationTest.kt
  backend/src/test/kotlin/com/example/backend2/integrationTest/domain/winner/WinnerIntegrationTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/auction/entity/AuctionTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/auction/service/AuctionServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/bid/entity/BidTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/bid/repository/BidRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/bid/service/BidServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/product/repository/ProductRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/user/repository/UserRepositoryTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/user/service/UserServiceTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/domain/winner/entity/WinnerTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/global/app/AuctionListenerEventTest.kt
  backend/src/test/kotlin/com/example/backend2/unitTest/global/app/AuctionSchedulerEventTest.kt
  frontend/next.config.ts
  frontend/src/app/ClientProviders.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/mypage/edit/page.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/lib/api/auction.ts
  frontend/src/types/next-aut.d.ts
  frontend/tsconfig.json
Labels: 🔥 backend, ✨ feat, 🌈 frontend

#41 refactor(40) : 관리자 페이지 CSS 개선
  frontend/src/app/admin/auctions/list/page.tsx
  frontend/src/app/admin/auctions/page.tsx
  frontend/src/app/auth/login/page.tsx
Labels: ♻️ refactor, 🌈 frontend

#42 feat(27): E2E(End to End) 테스트 관리자, 사용자 Flow 구현
  backend/src/main/kotlin/com/example/backend2/domain/auction/service/AuctionService.kt
  backend/src/main/kotlin/com/example/backend2/domain/user/service/EmailService.kt
  backend/src/main/resources/data.sql
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  frontend/test-results/.last-run.json
  frontend/tests/adminTest.spec.ts
  frontend/tests/test.spec.ts
  frontend/tests/test1.spec.ts
Labels: ⚙️chore, ✨ feat, 🌈 frontend, ✔️Test
